* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(239,242,58);
  background: radial-gradient(circle, rgba(239, 242, 59, 0.393) 0%, rgba(241,224,90,1) 100%);
  font-family: 'Mali', cursive;
}
.intro {
  min-height: 30vh;
  text-align: center;
  margin: 2rem;
}
.intro h1 {
  font-size: 5rem;
  color: #ff0000;
  text-shadow: 0 2px 2px #FF0000, 
      -2px 5px 0 #ff7f00, 
      -4px 10px 0 #ffff00,
      -8px 15px 0 #00ff00,
      -12px 20px 0 #0000ff,
      -16px 25px 0 #4b0082,
      -20px 30px 0 #9400d3;
}
.main {
  min-height: 40vh;
  text-align: center;
}
.main form {
  padding: 2rem;
  margin: 3rem; 
}
.main label {
  font-size: 1.5rem;
}
.result {
  text-align: center;
}